body {
	font-family: sans-serif;
	font-size: 1.1em;
	color: black;
}
a {
	color: black;
	font-weight: bold;
	padding: 0 0.2em 0 0.2em;
}
a:hover {
	color: white;
	background-color: black;
	text-decoration: none;
}
#container {
	margin: 0 auto 0 auto;
	width: 80%;
	max-width: 1200px;
}
ol {
	margin-left: 1em;
}
ol li, ul li {
	line-height: 1.4em;
}
article ul li::before {
	content: "\2022";
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
p {
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.4em;
	margin-bottom: 1.7em;
	margin-top: 0;
}
h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}
h4, h5, h6 {
	font-size: 1em;
}
h2, h3 {
	margin-top: 5em;
}
h4, h5, h6 {
	margin-top: 2em;
}
div.nodots ul li::before {
	content: "";
}
ul li {
	list-style-type: none;
}
li.st1, li.st2, li.st3 {
	margin: 5px 0 5px 0;
}
li.st1 > a {
	font-size: 20px;
	font-weight: bold;
}
li.st2 > a {
	font-size: 16px;
	font-weight: bold;
}
li.st3 > a {
	font-size: 16px;
	font-weight: normal;
}
header a#sign {
	display: block;
	text-align: center;
	font-size: 8em;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: -0.3em;
	padding: 0 0 0 0;
}
header a#sign:after {
	content: "\2B19";
}
header a#sign:hover:after {
	content: "\2B18";
}
header a#sign:hover {
	color: black;
	background-color: rgba(255,255,255,0);
}
em.date {
	color: dimgrey;
	font-size: 0.8em;
	margin-left: 0.5em;
}
ul.postlist li, ul.archivelist li {
	line-height: 2em;
}
article img {
	display: block;
	max-width: 100%;
	margin: 2em auto 2em auto;
}
div#byline {
	font-size: 0.8em;
	margin-top: -1.5em;
	margin-bottom: 3em;
}
code {
	padding:0.2em 0.3em 0.2em 0.3em;
	font-size: 1.2em;
	background-color: #eee;
}
pre code {
	font-family: "Fira Code", FiraCode, monospace;
	font-size: 1em;
	display: block;
	margin-left: 2em;
	margin-bottom: 1.7em;
	padding: 0.3em;
}
blockquote {
	border-left: 0.3em solid black;
	margin: 0 0 1.7em 2em;
	padding: 1.7em 1.5em 0.1em 2em;
	background-color: gainsboro;
}
.aside {
	border: 2px solid silver;
	padding: 2em;
	margin-bottom: 1.5em;
}
.ytvid {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.jiggle {
	display: inline-block;
	-webkit-animation: jiggle 0.1s infinite;
	-moz-animation-duration: 0.1s;
	-moz-animation-name: jiggle;
	-moz-animation-iteration-count: infinite; 
}
@keyframes jiggle {
	10%, 90% {transform: translate3d(-1px, 1px, 0); }
	20%, 80% {transform: translate3d(1px, -1px, 0); }
	30%, 50%, 70% {transform: translate3d(-1px, 1px, 0); }
	40%, 60% {transform: translate3d(1px, -1px, 0); } 
}
